.branch-badge-container {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 153, 255);
    box-shadow: -3px -3px 7px var(--light-shadow-color), 3px 3px 5px var(--dark-shadow-color);

    &:hover.enabled {
        background-color: rgb(91, 163, 235);
        box-shadow: inset -3px -3px 7px rgb(57, 171, 255), inset 3px 3px 5px rgb(45, 135, 224);
    }

    &:active.enabled {
        background-color: rgb(47, 135, 223);
    }

    .branch-icon {
        float: left;
        margin-top: 1px;
        margin-right: 2px;
        width: 11px;
        height: 17px;
        background-image: url('../../../../../public/icons/git-branch.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 11px 17px;
        filter: invert(71%) sepia(61%) saturate(515%) hue-rotate(61deg) brightness(96%) contrast(102%);
    }

    .url {
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
}

.disabled .url {
    cursor: no-drop;
}
