.pull-request-card-container {
    width: 550px;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    cursor: default;

    .user-avatar {
        margin-left: 12px;
    }

    .content {
        margin-left: 12px;

        .pull-request-message-container, .pull-request-info-container {
            display: flex;
            flex-direction: row;

            .name {
                cursor: pointer;
                font-size: 1.03em;
                color: rgb(16, 108, 230);

                &:hover {
                    color: rgb(151, 21, 93);
                }
            }

            .message {
                margin-left: 6px;
            }

            .change-summary {
                margin-left: 8px;
            }
        }
    }
}
