.pull-request-message-container, .pull-request-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .pull-request-message {
        max-width: 140px;
        font-weight: 500;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: var(--secondary-font-color);

        .url {
            color: var(--secondary-font-color);
        }
    }

    .pull-request-message-wrapper {
        position: relative;
        margin-right: 12px;

        .check-status {
            position: absolute;
            right: -7px;
            top: 0;
            width: 9px;
            height: 26px;
            border-radius: 0 4px 4px 0;
        }

        .pending {
            background-color: rgb(59, 181, 252);
            box-shadow: 0 0 3px 0 rgba(78, 185, 247, 0.65);
            border-top: 1px solid rgb(127, 177, 206);
            border-bottom: 1px solid rgb(60, 159, 216);
        }

        .mergeable {
            background-color: rgb(19, 207, 19);
            box-shadow: 0 0 3px 0 rgba(19, 207, 19, 0.7);
            border-top: 1px solid rgb(147, 253, 147);
            border-bottom: 1px solid rgb(89, 173, 89);
        }

        .not-mergeable {
            background-color: rgb(219, 102, 102);
            box-shadow: 0 0 3px 0 rgba(253, 107, 107, 0.7);
            border-top: 1px solid rgb(248, 164, 164);
            border-bottom: 1px solid rgb(207, 70, 70);
        }
    }

    .pull-request-action {
        margin-top: 2px;
        font-size: 0.88em;
        font-weight: 500;
        color: var(--main-font-color);
    }

    .rejected {
        color: rgb(202, 19, 19);
    }

    .reviewers-summary {
        margin-top: 1px;
        margin-left: 10px;
        font-size: 0.9em;
        color: var(--main-font-color);

        .reviewers-icon {
            margin-right: 2px;
            color: var(--main-icon-color);
        }
    }

    .change-summary {
        margin-left: 7px;
    }

    .from-branch-badge, .to-branch-badge {
        margin-top: 4px;
        max-width: 110px;
    }

    .merge-icon {
        margin-top: 6px;
        margin-left: 6px;
        width: 20px;
        height: 25px;
        background-image: url('../../../../public/icons/git-merge.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px 25px;
        transform: rotate(90deg);
        filter: invert(49%) sepia(20%) saturate(694%) hue-rotate(173deg) brightness(91%) contrast(92%);
    }

    .to-branch-badge {
        margin-left: 5px;
    }

    .right-arrow {
        margin-top: 4px;
        margin-left: 6px;
        color: var(--main-icon-color);
    }

    .repository-name {
        margin-top: 2px;
        font-weight: bold;
        max-width: 200px;
    }
}
