.user-info-card-container {
    display: flex;
    flex-direction: column;

    a:hover {
        cursor: pointer;
        color: rgb(151, 21, 93);
    }

    .statistics {
        display: flex;
        flex-direction: row;
        justify-content: start;

        a i {
            margin-right: 2px;
        }

        a:not(:first-child) {
            margin-left: 10px;
        }
    }
}
