$avatar-width: 80px;
$container-width: 600px;
$container-height: 110px;

@keyframes avatar-expand {
    from {
        width: 30px;
        height: 30px;
        left: -15px;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    55% {
        width: calc(#{$avatar-width} + 10px);
        height: calc(#{$avatar-width} + 10px);
        left: calc(-#{$avatar-width} / 2 - 5px);
    }
    65% {
        width: calc(#{$avatar-width} - 6px);
        height: calc(#{$avatar-width} - 6px);
        left: calc(-#{$avatar-width} / 2 + 3px);
    }
    80% {
        width: calc(#{$avatar-width} + 6px);
        height: calc(#{$avatar-width} + 6px);
        left: calc(-#{$avatar-width} / 2 - 3px);
    }
    to {
        width: $avatar-width;
        height: $avatar-width;
    }
}

@keyframes body-expand {
    from {
        width: 0;
        box-shadow: none;
    }
    70% {
        width: 0;
    }
    to {
        width: $container-width;
    }
}

@keyframes content-load {
    from {
        opacity: 0;
    }
    76% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes button-load {
    from {
        width: 0;
        height: 0;
        top: 18px;
        right: 19px;
        color: rgba(228, 70, 97, 0.9);
        opacity: 0;
    }
    75% {
        width: 0;
        height: 0;
        top: 18px;
        right: 19px;
        opacity: 0;
    }
    87% {
        width: 22px;
        height: 22px;
        top: 7px;
        right: 8px;
        opacity: 1;
    }
    97% {
        color: rgba(228, 70, 97, 0.9);
    }
    to {
        width: 20px;
        height: 20px;
    }
}

.notification-card-container {
    position: relative;
    height: $container-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    cursor: default;
    animation-name: body-expand;
    animation-duration: 1s;

    .service-provider-avatar {
        position: absolute;
        left: calc(-#{$avatar-width} / 2);
        animation-name: avatar-expand;
        animation-duration: 0.8s;
    }

    .content {
        position: relative;
        width: 78.5%;
        height: 75px;
        margin-top: 10px;
        margin-left: calc(#{$avatar-width} / 2 + 8px);
        border: 1px solid transparent;
        animation-name: content-load;
        animation-duration: 1.5s;

        & > div {
            $margin: 4px;

            position: absolute;
            width: calc(100% - 2 * #{$margin});
            left: $margin;
        }

        & > div:first-child {
            top: 3px;
        }

        & > div:last-child {
            bottom: 3px;
        }
    }

    .close-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 9px;
        width: 20px;
        height: 20px;
        padding: 1px;
        font-size: 0.85em;
        background-color: rgba(228, 70, 97, 0.9);
        border: 1px solid var(--border-color);
        border-radius: 50%;
        box-shadow: -3px -3px 7px var(--light-shadow-color), 3px 3px 5px var(--dark-shadow-color);
        color: rgb(245, 245, 245);
        transition: color 0.4s ease;
        cursor: pointer;
        animation-name: button-load;
        animation-duration: 1.7s;

        &:hover {
            color: rgb(215, 215, 215);
            box-shadow: inset -3px -3px 7px rgba(206, 35, 63, 0.9), inset 3px 3px 5px rgba(172, 28, 52, 0.9);
        }
    }

    .actions {
        $actions-width: 60px;

        display: flex;
        position: absolute;
        flex-direction: column;
        padding-top: 4px;
        padding-bottom: 1px;
        right: 3px;
        bottom: 20px;
        width: $actions-width;
        height: 10%;
        opacity: 0;
        transition: opacity 0.5s ease;

        .remove, .special, .options {
            width: $actions-width;
            height: $actions-width;
        }

        .remove {
            height: $actions-width;
        }
    }

    .time {
        position: absolute;
        top: 8px;
        right: 45px;
        animation-name: content-load;
        animation-duration: 1.5s;
    }

    .option-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: 1px;
        bottom: 8px;
        right: 9px;
        width: 20px;
        height: 20px;
        font-size: 0.85em;
        color: var(--main-font-color);
        border: 1px solid var(--border-color);
        border-radius: 50%;
        box-shadow: -3px -3px 7px var(--light-shadow-color), 3px 3px 5px var(--dark-shadow-color);
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.5s ease;

        &:hover {
            box-shadow: inset -3px -3px 7px var(--light-shadow-color), inset 3px 3px 5px var(--dark-shadow-color);
        }
    }

    &:hover {
        .actions, .option-icon {
            opacity: 1;
        }
    }
}
