.notification-card-container {
    $container-width: 670px;
    $container-height: 115px;
    $guard-inset: -96.5px;

    position: relative;
    width: $container-width;
    height: $container-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: var(--main-background-color);
    cursor: default;

    .service-provider-avatar {
        margin-left: 15px;
    }

    .content {
        position: relative;
        width: 75.5%;
        height: 70px;
        margin-left: 5px;
        border: 1px solid transparent;

        & > div {
            $margin: 4px;

            position: absolute;
            width: calc(100% - 2 * #{$margin});
            left: $margin;
        }

        & > div:first-child {
            top: 3px;
        }

        & > div:last-child {
            bottom: 3px;
        }
    }

    .actions {
        $actions-width: 60px;

        display: flex;
        flex-direction: column;
        padding-top: 4px;
        padding-bottom: 1px;
        width: $actions-width;
        height: 10%;
        opacity: 0;
        transition: opacity 0.5s ease;

        .remove, .special, .options {
            width: $actions-width;
            height: $actions-width;
        }

        .remove {
            height: $actions-width;
        }
    }

    &:hover .actions {
        opacity: 1;
    }

    .time {
        position: absolute;
        top: 8px;
        right: 35px;
    }

    .close-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 9px;
        width: 20px;
        height: 20px;
        padding: 1px;
        font-size: 0.85em;
        background-color: rgba(228, 70, 97, 0.9);
        border: 1px solid var(--border-color);
        border-radius: 50%;
        box-shadow: -3px -3px 7px var(--light-shadow-color), 3px 3px 5px var(--dark-shadow-color);
        color: rgb(245, 245, 245);
        transition: color 0.4s ease;
        cursor: pointer;

        &:hover {
            color: rgb(215, 215, 215);
            box-shadow: inset -3px -3px 7px rgba(206, 35, 63, 0.9), inset 3px 3px 5px rgba(172, 28, 52, 0.9);
        }
    }

    .top-guard, .bottom-guard {
        width: 66%;
        height: 100px;
        position: absolute;
        left: calc(#{$container-width} / 5.88);
        border: 2px solid var(--border-color);
        -webkit-transition: all 0.5s ease;
        opacity: 0;
        transition: all 0.5s ease;
        transition-property: border, opacity;
    }

    .top-guard {
        top: $guard-inset;
        border-radius: 0 0 40px 40px;
        box-shadow: inset -3px -3px 7px var(--dark-shadow-color), inset 3px 3px 5px var(--light-shadow-color);
    }

    .bottom-guard {
        bottom: $guard-inset;
        border-radius: 40px 40px 0 0;
        box-shadow: inset -3px -3px 7px var(--light-shadow-color), inset 3px 3px 5px var(--dark-shadow-color);
    }

    &:hover .top-guard, &:hover .bottom-guard {
        border: 2px solid var(--border-color);
        opacity: 1;
    }
}
