.step-summary-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .grid {
        margin-right: 2px;
        border: 1px solid transparent;
    }

    .no-color {
        color: transparent;
        text-shadow: none;
    }

    .purple {
        color: rgb(193, 147, 245);
        text-shadow: -1px -2px 5px var(--light-shadow-color),
                    1px 1px 6px var(--dark-shadow-color),
                    0 0 3px rgb(170, 123, 223);
    }

    .teal {
        color: rgb(54, 179, 218);
        text-shadow: -1px -2px 5px var(--light-shadow-color),
                    1px 1px 6px var(--dark-shadow-color),
                    0 0 3px rgb(54, 179, 218);
    }

    .grey {
        color: rgb(158, 158, 158);
        text-shadow: -1px -2px 5px var(--light-shadow-color),
                    1px 1px 6px var(--dark-shadow-color),
                    0 0 3px rgb(158, 158, 158);
    }

    .blue {
        color: rgb(11, 100, 202);
        text-shadow: -1px -2px 5px var(--light-shadow-color),
                    1px 1px 6px var(--dark-shadow-color),
                    0 0 3px rgb(11, 100, 202);
    }

    .green {
        color: rgb(30, 194, 30);
        text-shadow: -1px -2px 5px var(--light-shadow-color),
                    1px 1px 6px var(--dark-shadow-color),
                    0 0 3px rgb(46, 223, 46);
    }

    .orange {
        color: rgb(228, 93, 15);
        text-shadow: -1px -2px 5px var(--light-shadow-color),
                    1px 1px 6px var(--dark-shadow-color),
                    0 0 3px rgb(228, 93, 15);
    }

    .red {
        color: rgb(226, 7, 7);
        text-shadow: -1px -2px 5px var(--light-shadow-color),
                    1px 1px 6px var(--dark-shadow-color),
                    0 0 3px rgb(226, 7, 7);
    }
}
