.user-avatar-container {

    .avatar-wrapper {
        $avatar-width: 82%;
        $avatar-border-radius: 50%;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border-color);
        border-radius: $avatar-border-radius;
        box-shadow: -3px -3px 7px var(--light-shadow-color), 3px 3px 5px var(--dark-shadow-color);

        .avatar-overlay {
            position: absolute;
            z-index: 1;
            width: $avatar-width;
            height: $avatar-width;
            border: 1px solid var(--border-color);
            border-radius: $avatar-border-radius;
            box-shadow: inset -3px -3px 9px rgba(185, 185, 185, 0.75), inset 4px 4px 7px rgba(60, 60, 60, 0.5);
        }

        .avatar {
            position: absolute;
            z-index: 0;
            width: $avatar-width;
            height: $avatar-width;
            border-radius: $avatar-border-radius;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}
