.commit-message-container, .commit-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;

    .committer-name {
        max-width: 75px;
        font-size: 1.03em;

        .url {
            color: rgb(16, 108, 230);
        }

        &:hover .url {
            color: rgb(151, 21, 93);
        }
    }

    .commit-message {
        max-width: 425px;
    }

    .change-summary {
        margin-left: 8px;
    }

    .branch-badge {
        margin-left: 4px;
        margin-right: 3px;
        margin-top: 3px;
    }

    .repository-name {
        max-width: 155px;
    }
}
