.commit-message-container, .commit-info-container {
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;

    .committer-name {
        padding-left: 0;
        padding-right: 0px;
        margin-right: 5px;
        max-width: 85px;
        font-size: 1.03em;

        .url {
            color: rgb(16, 108, 230);
        }

        &:hover .url {
            color: rgb(151, 21, 93);
        }
    }

    .commit-message {
        max-width: 425px;
    }

    .change-summary {
        margin-left: 8px;
    }

    .branch-badge {
        margin-left: 5px;
        margin-right: 4px;
        margin-top: 3px;
    }

    .repository-name {
        padding-left: 0;
        max-width: 155px;
    }
}
