.commit-card-container {
    width: 550px;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    cursor: default;

    .avatar {
        margin-left: 10px;
        border-radius: 6px;
    }

    .content {
        margin-left: 10px;

        i {
            font-size: 0.8em;
            font-weight: bold;
            margin-right: 1px;
        }

        .message, .name, .branch {
            color: rgb(16, 108, 230);
            font-size: 1.03em;

            &:hover {
                cursor: pointer;
                color: rgb(151, 21, 93);
            }
        }

        .commit-message {
            display: flex;
            flex-direction: row;

            .message-container {
                max-width: 330px;
                font-size: 0.85em;
                margin-bottom: 2px;
                padding: 2.5px 6px;
                border-radius: 4px;
                -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:hover {
                    background-color: rgb(250, 250, 250);
                    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
                    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
                    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
                }
            }

            .message {
                color: rgb(68, 68, 68);
            }

            .changes-container {
                font-size: 0.9em;
                padding-top: 2.5px;
                margin-left: 7px;

                .add {
                    color: green;
                }

                .remove {
                    color: red;
                }

                .modify {
                    color: rgb(88, 131, 189);
                }
            }
        }

        .commit-info {
            display: flex;
            flex-direction: row;

            .branch-container {
                font-size: 0.85em;
                padding: 0 5px 2px 5px;
                margin: 2.5px 3px 0 3px;
                border-radius: 4px;
                background-color: rgb(75, 145, 238);
                -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

                &:hover {
                    background-color: rgb(55, 127, 223);
                    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
                    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
                }

                .branch {
                    color: rgb(255, 255, 255);

                    i {
                        color: rgb(148, 243, 70);
                        margin-right: 3.5px;
                    }
                }
            }

            .time {
                width: 100px;
                padding: 0 5px 2px 5px;
                margin: 2px 0 0 3px;
                font-size: 0.9em;
                font-weight: 500;
                position: relative;

                .relative-time, .locale-time {
                    position: absolute;
                    -webkit-transition: opacity 0.4s;
                    transition: opacity 0.4s;
                }

                .locale-time {
                    opacity: 0;
                }

                &:hover {

                    .locale-time {
                        opacity: 1;
                    }

                    .relative-time {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
