.change-stats-summary-container {
    font-size: 0.9em;
    padding-top: 2.5px;

    i {
        font-size: 0.85em;
        font-weight: bold;
        margin-right: 1px;
    }

    .add {
        color: green;
    }

    .remove {
        color: red;
    }

    .modify {
        color: rgb(88, 131, 189);
    }
}
