.change-stats-summary-container {
    font-size: 0.9em;
    padding-top: 2.5px;

    i {
        font-size: 0.85em;
        font-weight: bold;
        margin-right: 4px;
        padding: 2px;
        border: 2.5px solid var(--border-color);
        border-radius: 50%;
        box-shadow: inset -3px -3px 7px var(--light-shadow-color), inset 3px 3px 5px var(--dark-shadow-color);
    }

    .add {
        color: rgb(21, 177, 21);
    }

    .remove {
        color: rgb(226, 7, 7);
    }

    .modify {
        color: rgb(11, 100, 202);
    }
}
