.change-stats-summary-container {
    font-size: 0.9em;
    padding-top: 2.5px;

    font-size: 0.85em;
    font-weight: 500;
    color: var(--secondary-font-color);

    i {
        font-size: 1em;
        font-weight: bold;
        margin-right: 4px;
        text-shadow: -2px -1px 2px var(--light-shadow-color), 2px 1px 3px var(--dark-shadow-color);
    }

    .add {
        color: rgb(21, 177, 21);
    }

    .remove {
        color: rgb(226, 7, 7);
    }

    .modify {
        color: rgb(11, 100, 202);
    }
}
