.release-pipeline-message-container, .release-pipeline-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;

    .release-name {
        max-width: 110px;
        margin-right: 8px;
    }

    .abandoned {
        text-decoration: line-through;
    }

    .pipeline-name {
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        font-size: 1.03em;
        color: rgb(16, 108, 230);

        &:hover {
            color: rgb(151, 21, 93);
        }
    }

    .stages-summary {
        margin-top: 5px;
        margin-left: 4px;
    }

    .trigger-name {
        background-color: rgb(65, 91, 124);
        margin-top: 3px;
        margin-left: 5px;
        margin-right: 3px;

        .url {
            color: rgb(255, 255, 255);
        }
    }

    .project-name {
        font-size: 1.03em;
    }
}
