.ticket-message-container, .ticket-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .ticket-message {
        max-width: 200px;
        margin-right: 2px;
        font-weight: 500;
        color: var(--secondary-font-color);

        .url {
            color: var(--secondary-font-color);
        }
    }

    .right-arrow {
        margin-top: 4px;
        margin-left: 6px;
        color: var(--main-icon-color);
    }

    .status-text {
        margin-top: 3px;
        margin-left: 6px;
        max-width: 230px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.88em;
        font-weight: 500;
        color: var(--main-font-color);
    }

    .highlighted {
        color: rgb(168, 45, 224);
    }

    .requester-icon {
        margin-right: 4px;
        color: var(--main-font-color);
    }

    .ticket-info {
        margin-top: 3px;
        max-width: 380px;
        font-size: 0.88em;
    }
}

.zendesk-data {
    max-height: 25vh;
    overflow-y: auto;
    word-break: break-word;

    > p {
        display: none;
    }

    td {
        padding: 5px 5px 0 5px !important;
    }
}
