.weblink-display-container {
    font-size: 0.85em;
    padding: 3px 6px 4.5px 6px;
    border-radius: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .url {
        cursor: pointer;
        color: rgb(68, 68, 68);
    }
}

.border-mode {
    border: 1px solid var(--border-color);
    box-shadow: -3px -3px 7px var(--light-shadow-color), 3px 3px 5px var(--dark-shadow-color);

    &:hover {
        background-color: var(--secondary-background-color);
        box-shadow: inset -3px -3px 7px var(--light-shadow-color), inset 3px 3px 5px var(--dark-shadow-color);
    }

    &:active {
        box-shadow: inset -5px -5px 35px var(--light-shadow-color), inset 5px 5px 35px var(--dark-shadow-color);
    }
}
