.release-pipeline-message-container, .release-pipeline-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .release-name {
        max-width: 260px;
        margin-right: 8px;
        font-weight: 500;
        color: var(--secondary-font-color);

        .url {
            color: var(--secondary-font-color);
        }
    }

    .abandoned {
        text-decoration: line-through;
    }

    .status-text, .trigger-text {
        margin-top: 1px;
        margin-right: 4px;
        font-size: 0.88em;
        font-weight: 500;
        color: var(--main-font-color);
    }

    .stages-summary {
        margin-top: 3px;
        margin-left: 4px;
        font-size: 0.75em;
    }

    .trigger-name {
        background-color: var(--main-button-color);
        max-width: 280px;
        margin-top: 3px;
        margin-left: 2px;
        margin-right: 3px;

        &:hover {
            box-shadow: inset -3px -3px 7px var(--main-button-light-shadow-color),
                        inset 3px 3px 5px var(--main-button-dark-shadow-color);
        }

        .url {
            color: rgb(255, 255, 255);
        }
    }
}
