.repository-badge-container {

    .repository-name {
        max-width: inherit;

        .repository-icon {
            color: rgb(16, 108, 230);
            margin-right: 1.5px;
        }

        .url {
            color: var(--main-font-color);
            transition: color 0.3s ease;
        }

        &:hover .url {
            color: rgb(16, 108, 230);
        }
    }
}
