.repository-badge-container {

    .repository-name {
        max-width: inherit;
        font-size: 1.03em;

        .url {
            color: rgb(16, 108, 230);
        }

        &:hover .url {
            color: rgb(151, 21, 93);
        }
    }
}
