html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;

    .drag-bar {
        position: absolute;
        width: 100vw;
        height: 25px;
        -webkit-app-region: drag;
        background-color: rgba(110, 110, 110, 0.2);
    }

    #app {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
}
