:root {
    --main-background-color: rgb(220, 220, 220);
    --secondary-background-color: rgb(232, 232, 232);
    --border-color: rgba(240, 240, 240, 0.4);
    --light-shadow-color: rgba(255, 255, 255, 0.8);
    --dark-shadow-color: rgba(94, 104, 121, 0.55);
    --main-font-color: rgb(80, 98, 126);
    --secondary-font-color: rgb(114, 123, 138);
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

#app {
    width: 100vw;
    height: 100vh;
}

.notification {
    margin-top: 60px;
    margin-left: 52px;
    z-index: 0;
}

.vue-notification-wrapper {
    overflow: visible;
    margin-bottom: 8px;
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
}

.updated-card {
    -webkit-animation-name: updated-notify;
    -webkit-animation-duration: 2s;
    animation-name: updated-notify;
    animation-duration: 2s;
}

@-webkit-keyframes updated-notify {
    from {
        background-color: rgb(132, 138, 143);
    }
    to {
        background-color: var(--main-background-color);
    }
}

@keyframes updated-notify {
    from {
        background-color: rgb(132, 138, 143);
    }
    to {
        background-color: var(--main-background-color);
    }
}

.el-tooltip__popper, .zd-comment, .zd-comment p {
    max-width: 65vw;
    margin: 8px 0 !important;
    line-height: 12px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: var(--main-font-color) !important;
    background-color: rgb(242, 242, 242) !important;
}

.zd-comment {
    padding: 0 10px !important;
}
